//auth-button
.auth__link
    display: block
    width: 180px
    font-weight: 500
    font-size: 1em
    line-height: 1
    color: #fff
    border-radius: 50px
    border: 1px solid #fff
    text-decoration: none
    position: absolute
    top: 25px
    right: 100px
    transition: all 0.2s
    &:hover
        background: #4e8839
        border-color: #729e19
    +breakpoint(1210px)
        top: 20px
        right: 20px
    +breakpoint(650px)
        top: 10px
        right: 50%
        margin-right: -90px

.main
    height: 100%
    background: #6c9c5a url('../img/bg-forest-photo.jpg') no-repeat
    background-position: center
    background-size: cover
    text-align: center
    margin-bottom: -60px
    line-height: 1.25
    color: #fff
    .container
        height: 100%
        perspective: 1000px
        &:before
            content: ''
            display: inline-block
            height: 100%
            vertical-align: middle

.flipper
    width: 380px
    display: inline-block
    vertical-align: middle
    transition: 0.6s
    transform-style: preserve-3d
    position: relative
    height: 420px
    @include breakpoint(768px)
        width: 348px
    @include breakpoint(380px)
        width: 300px
.flipper_flip
    transform: rotateY(180deg)
.window
    width: 100%
    padding-top: 40px
    text-align: center
    background: rgba(18, 38, 32, 0.6)
    border-radius: 5px
    overflow: hidden
    &__author
        margin-bottom: 30px
    &__photo
        margin: 0 auto
        margin-bottom: 15px
        width: 140px
        height: 140px
        border-radius: 50%
        overflow: hidden
    &__photo-pic
        display: block
        max-width: 100%
        height: auto
    &__author-name
        margin: 0
        margin-bottom: 3px
        font-size: 28px
        font-weight: 500
        opacity: 0.9
    &__text
        opacity: 0.8
        font-weight: 400
    &__social
        margin-bottom: 35px
        .social__link
            &_in
                height: 87.5%
            .social__icon
                fill: #fff
                fill-opacity: 0.6
            &:hover
                .social__icon
                    fill: #4e8839
                    fill-opacity: 1
    &__main-subtitle
        margin-bottom: 40px

    &__cont-input
        margin-bottom: 20px
    &__label-radio
        margin: 0 18px


    &_wellcome
        backface-visibility: hidden
        z-index: 2
        transform: rotateY(0deg)
        position: absolute
        top: 0
        left: 0
        &__nav
            @extend %clearfix
        &__nav-link
            float: left
            &:nth-child(1)
                width: 41%
            &:nth-child(2)
                width: 34%
            &:nth-child(3)
                width: 25%


    &_login
        transform: rotateY(180deg)
        position: absolute
        top: 0
        left: 0
        backface-visibility: hidden
        padding-top: 35px


        &__btn-elems
            @extend %clearfix
        &__btn
            float: left
            width: 50%
        &__text
            padding: 15px 5px
            padding-bottom: 8px
            color: rgba(255,255,255,0.8)







