.contacts
    background: url('/img/map.jpg') no-repeat
    background-position: center
    background-size: cover

    &__title
        margin: 0
        font-size: 35px
        font-weight: 400
        color: #566358
        text-align: center
        position: relative
        text-transform: uppercase
        @include font('sans')
        margin-bottom: 63px
        &:after
            content: ''
            position: absolute
            bottom: -25px
            left: 50%
            background-color: #566358
            transform: translateX(-50%)
            height: 3px
            width: 89px


    &__map
        height: 1185px
        padding-bottom: 185px

        text-align: center
        &::before
            content: ''
            display: inline-block
            height: 100%
            vertical-align: middle
    &__menu
        padding: 36px 40px
        border-radius: 5px
        overflow: hidden
        display: inline-block
        width: 380px
        vertical-align: middle
        background: rgba(244, 245, 240, 0.85)
    &__list
        margin: 0
        padding: 0
        list-style: none
        &-item
            text-align: left

.contact-link
    display: inline-block
    padding: 5px
    margin-bottom: 10px
    text-decoration: none
    color: #566358
    font-size: 16px
    font-weight: 500
    opacity: 0.8
    padding-left: 35px
    @include font('roboto-med')
    &:hover
        opacity: 1

.contact-skype
    background: url('/img/svg/skype.svg') no-repeat left center
    background-size: 25px 25px
.contact-email
    background: url('/img/svg/envelope2.svg') no-repeat left center
    background-size: 25px 25px
.contact-phone
    background: url('/img/svg/phone2.svg') no-repeat left center
    background-size: 25px 25px
.contact-adress
    background: url('/img/svg/map_marker.svg') no-repeat left center
    background-size: 25px 25px
