.about-me
    position: relative
    //top: -320px
    padding-top: 150px
    //min-height: 800px
    background-color: #f4f5f0
    background: url('../img/svg/about_bg_left.svg'), url('../img/svg/about_bg_right.svg')
    background-repeat: no-repeat, no-repeat
    background-position: 0 0, 100% 0
    background-size: 50%, 51%
    .container
        @include clearfix

.about-me__left
    width: 50%
    float: left
    text-align: center

.about-me__title
    float: left
    padding: 0 10px
    width: 50%
    text-align: center
    .main-title
        width: 100%
        background: url("../img/svg/about_header.svg") no-repeat 50% 50%
        background-size: 80% 80%

.about-me__info
    width: 50%
    padding: 20px
    float: right
    @include clearfix
    &-photo
        max-width: 437px
        max-height: 390px
        overflow: hidden
        margin-bottom: 40px
    .about-me-pic
        width: 100%
    .main-subtitle
        margin-bottom: 58px

.about-me__right
    width: 50%
    float: left
    padding: 20px 40px
    text-align: center
    .main-subtitle
        
        margin-bottom: 50px

.skill__title

    color: #566358
    font-weight: 500
    @include font('roboto-med')
    font-size: 28px

.skill__block
    text-align: left
    .skill__list
        list-style: none
        padding: 20px 0
        margin: 0
        &-item
            display: inline-block
            width: 120px
            height: 120px
            vertical-align: top
            border-radius: 50%
            border: 17px solid #77a266
            margin-right: 40px
            text-align: center
            margin-bottom: 20px
            &:before
                content: ''
                display: inline-block
                vertical-align: middle
                height: 100%
            .skill-item__name
                display: inline-block
                vertical-align: middle
                color: #4e8839
                font-weight: 500
                font-size: 14px
                @include font('roboto-med')


.about-me__text
    color: #566358
    font-size: 16px
    font-weight: 400
    text-align: left
    margin: 0
    padding: 10px 0
    @include font('roboto-reg')