.contact
    position: relative
    text-align: center
    min-height: 100vh
    &__main-subtitle
        margin-bottom: 50px

    &__map
        min-height: 100vh
    &__toggler
        position: absolute
        top: 8px
        left: 50%
        outline: none
        z-index: 100
        margin-left: -65px
        padding: 9px
        color: rgb(86,86,86)
        text-align: center
        font-size: 11px
        background: #fff
        border-radius: 2px
        box-shadow: 0 2px 4px -1px rgba(0,0,0,0.3)
        cursor: pointer
        border: none
        width: 130px
        &:hover
            color: #000
            background: #eaeaea
        +breakpoint(767px)
            display: none

    &__menu
        z-index: 50
        top: 20%
        left: 50%
        width: 380px
        margin-left: -180px
        position: absolute
        padding: 36px 40px
        background: rgba(244, 245, 240, 0.85)
        transition: all 0.2s
        +breakpoint(800px)
            width: 350px
            padding: 36px 20px
        +breakpoint(767px)
            position: static
            width: 100%
            margin-left: 0
            background: #f7f7f7
            text-align: center
            //padding:

    &__list
        margin: 0
        padding: 0
        list-style: none
        text-align: left
        +breakpoint(767px)
            display: inline-block
    &__list-item
        margin-bottom: 10px

    &__link
        position: relative
        display: inline-block
        padding: 5px
        text-decoration: none
        color: #566358
        font-weight: 500
        opacity: 0.8
        padding-left: 40px
        &:hover
            opacity: 1

    &__link-icon
        position: absolute
        top: 50%
        left: 0
        width: 25px
        height: 25px
        transform: translateY(-50%)
        fill: #6c9c5a

.map__popup
    padding: 10px
    text-align: center
    font-weight: 700
