.about-me
    position: relative
    background: linear-gradient(to right, #ebefe2 0%,#ebefe2 50%,#f4f5f0 50%,#f4f5f0 100%)
    &::before
        position: absolute
        left: 0
        top: -100px
        content: ''
        display: block
        width: 100%
        height: 200px
        background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" version="1.1" fill="#ebefe2" viewBox="0 0 100 50" preserveAspectRatio="none"><polygon points="0,0 100,50 100,50 0,50"/></svg>'), svg-url('<svg xmlns="http://www.w3.org/2000/svg" version="1.1" fill="#f4f5f0" viewBox="0 0 100 50" preserveAspectRatio="none"><polygon points="0,50 100,0 100,50 0,50"/></svg>')
        background-repeat: no-repeat, no-repeat
        background-position: 0 0, 100% 0
        background-size: 50%, 50%
    .container
        //display: flex
        position: relative
        @extend %clearfix


    &__left
        position: relative
        float: left
        width: 50%
        padding: 10px 20px
        text-align: center
        background: #ebefe2
    &__bg
        position: absolute
        top: -60px
        left: 0%
        width: 50%
        fill: green
        opacity: 0.12

    &__main-title
        position: relative
        top: -20px
        float: left
        width: 50%
        text-align: center

    &__info
        width: 50%
        float: right
        @extend %clearfix
    &__photo
        width: 100%
        margin-bottom: 40px
    &__pic
        max-width: 100%
        height: auto
    &__main-subtitle-left
        margin-bottom: 58px

    &__text
        color: #566358
        text-align: left
        margin: 0
        padding: 10px 0
    &__right
        float: right
        width: 50%
        padding: 10px 20px
        padding-left: 40px
        text-align: center
        background: #f4f5f0
    &__main-subtitle-right
        margin: 0 auto 50px
        max-width: 350px
    &__text-right
        margin-bottom: 56px
//TODO: skills
.skill__title
    color: #566358
    font-weight: 500
    font-size: 28px

.skill
    text-align: left
    &__title
        color: #566358
        font-weight: 500
        font-size: 28px
    &__list
        list-style: none
        padding: 20px 0
        margin: 0
    &__list-item
        display: inline-block
        width: 120px
        height: 120px
        vertical-align: top
        border-radius: 50%
        border: 17px solid #77a266
        margin-right: 40px
        text-align: center
        margin-bottom: 20px
        &:before
            content: ''
            display: inline-block
            vertical-align: middle
            height: 100%
    &__name
        display: inline-block
        vertical-align: middle
        color: #4e8839
        font-weight: 500
        font-size: 14px


