-
    var author = {name: 'Vitalii Doroshenko', site:'Личный сайт веб разработчика'}

    var pageTitles = {blog:'Блог'}
    var pageSubtitles={blog:'Статьи, которые я написал'}

    var navLinks=[
    {title:'Мои работы',
    href:'works.html'
    },
    {title:'Обо мне',
    href:'about-me.html'
    },
    {title:'Блог',
    href:'blog.html'
    },
    {title:'Авторизация',
    href:'index.html'
    }
    ]

    var navButtons=[
    {title:'Мои работы',
    href:'works.html'
    },
    {title:'Обо мне',
    href:'about-me.html'
    },
    {title:'Блог',
    href:'blog.html'
    }
    ]

    var socialLinks = [
    {name:'vk',
    href:'#'},
    {name:'github',
    href:'https://github.com/vetalxpro'},
    {name:'in',
    href:'#'}
    ];

    var sliderItems=[
    {src:'img/lorem1.jpg',
    'data-link':'#1',
    'data-tech':'html, css, javascript',
    'data-title':'Сайт школы онлайн Образования'},
    {src:'img/lorem2.jpg',
    'data-link':'#2',
    'data-tech':'css',
    'data-title':'title-2'},
    {src:'img/lorem3.jpg',
    'data-link':'#3',
    'data-tech':'js',
    'data-title':'title-3'},
    {src:'img/lorem4.jpg',
    'data-link':'#4',
    'data-tech':'gulp',
    'data-title':'title-4'},
    {src:'img/lorem5.jpg',
    'data-link':'#5',
    'data-tech':'mongo, css, jquery, angular, react',
    'data-title':'Очень длинное название проекта'}
    ];

    var contacts = [
    {name:'skype',
    text:'vetaloptimus',
    href:'skype:vetaloptimus',
    icon:'skype'},
    {name:'email',
    text:'vetalpro.exe@gmail.com',
    href:'mailto:vetalpro.exe@gmail.com',
    icon:'envelope2'},
    {name:'phone',
    text:'+7 931 200 93 24',
    href:'tel:+79312009324',
    icon:'phone2'},
    {name:'adress',
    text:'г. Одесса, ул. Пионерская, д.20',
    href:'#',
    icon:'map_marker'}
    ]
