-
    var author = {name: 'Vitalii Doroshenko', site:'Личный сайт веб разработчика'}

    var pageTitles = {blog:'Блог'}
    var pageSubtitles={blog:'Статьи, которые я написал'}

    var navLinks=[
    {title:'Мои работы',
    href:'works.html'
    },
    {title:'Обо мне',
    href:'about-me.html'
    },
    {title:'Блог',
    href:'blog.html'
    },
    {title:'Авторизация',
    href:'/'
    }
    ]

    var navButtons=[
    {title:'Мои работы',
    href:'works.html'
    },
    {title:'Обо мне',
    href:'about-me.html'
    },
    {title:'Блог',
    href:'blog.html'
    }
    ]

    var links = ['vk','github','in']
