extends layouts/_layout

block variables
    - var title = 'Обо мне - Сайт портфолио'
    include _variables
block main-styles

    link(rel='stylesheet' href='css/main.css')


block main-scripts

    script(src='js/script.js')



block content
    .wrapper
        include templates/headers/_header
        include templates/main/about-me/_section-about-me
        include templates/main/about-me/_section-contacts

block footer
    include templates/footers/_footer