extends layouts/_layout

block variables
    - var title = 'Обо мне - Сайт портфолио'
    include _variables
block main-styles

    link(rel='stylesheet' href='css/main.css')


block main-scripts
    script(src='js/script.js' defer)




block content
    .wrapper
        include templates/elements/_modal-window
        include templates/headers/_header
        include templates/main/about-me/_section-about-me
        include templates/main/about-me/_section-contacts
    script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBMMrrcVKvj57Vj243fPmlzalogn3FB9BM&language=ru&callback=initMap')

block footer
    include templates/footers/_footer