extends layouts/_layout

block variables
    -var title= 'Блог - Сайт портфолио'

block main-styles

    link(rel='stylesheet' href='css/main.css')


block main-scripts

    script(src='js/script.js' defer)



block content
    .wrapper
        include templates/elements/_modal-window
        include templates/headers/_header-blog
        include templates/main/blog/_main-blog

block footer
    include templates/footers/_footer