extends layouts/_index-layout

block variables
    - var title = 'Cайт портфолио - Login'
    include _variables

block main-styles
    link(rel='stylesheet' href='css/main.css')

block main-scripts
    script(src='js/script.js' defer)


block content
    include templates/main/index/_index-main

block footer
    include templates/footers/_footer-index


