extends layouts/_layout
block main-styles
    link(rel='stylesheet' href='css/sing.css')
block content
    .slider
        .slider__info
            h1 INFO
        .slider__view
            h1 VIEW
        .slider__preview
            h1 PREVIEW
