extends layouts/_layout

block variables
    -var title ='Мои работы - Сайт портфолио'
    include _variables

block main-styles

    link(rel='stylesheet' href='css/main.css')


block main-scripts

    script(src='js/script.js' defer)



block content
    .wrapper
        include templates/headers/_header
        include templates/main/works/_section-my_works
        include templates/main/works/_section-what-about

block footer
    include templates/footers/_footer