footer.footer

    .footer__top
        .container
            .footer__top-left
                p.footer__top-text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
            nav.footer__top-middle
                ul.footer__nav
                    each link in navLinks
                        li.footer__nav-item
                            a(href=link.href class='footer-link')= link.title
                ul.social__list
                    each link in links
                        li.social__list-item
                            a(href='#' class='social-link')= link
                                svg(class="icon-social icon-" + link width="30" height="30")
                                    use(xlink:href="img/svg-sprites/sprite.svg#" + link)
            .footer__top-right
                blockquote.footer-quote.
                    Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
                span.footer-quote__author Martin Golding
    .footer__bottom
        .container
            span.footer__bottom-content &copy; #{author.name} | Создано с любовью в LoftSchool | 2016



