.modal
    display: none
    position: fixed
    height: 100%
    z-index: 500
    width: 100%
    top: 0
    left: 0
    background-color: rgba(#6c9c5a, .87)
    text-align: center
    &::before
        content: ''
        display: inline-block
        height: 100%
        vertical-align: middle
        width: 0
    &__window
        display: inline-block
        vertical-align: middle
        animation-duration: 0.8s
        animation-delay: 0.5s
        //animation-fill-mode: both
    &__list
        list-style: none
        margin: 0
        padding: 0
    &__list-item
        margin-bottom: 60px
    &__link
        text-decoration: none
        @include font('sansus')
        font-weight: 400
        opacity: 0.7
        &:hover
            opacity: 1
        &::after
            display: none

        @include breakpoint($tablet)
            font-size: 49px
    &.active
        display: block
