//main title
.main-title
    text-align: center
    margin: 0
    font-size: 63px
    font-weight: 400
    color: #373e42
    position: relative
    text-transform: uppercase
    @include font('sansus')
    transition: all 0.3s
    &::after
        content: ''
        display: block
        position: absolute
        bottom: -20px
        left: 50%
        background-color: #373e42
        margin-left: -45px
        height: 3px
        width: 90px

    &_white
        color: #fff
        &:after
            background-color: #fff
    +breakpoint(1250px)
        &::after
            bottom: -10px
    +breakpoint(800px)
        font-size: 49px
    +breakpoint(480px)
        font-size: 35px

//main subtitle
.main-subtitle
    display: block
    text-align: center
    margin: 0
    font-size: 35px
    line-height: 41px
    font-weight: 400
    color: #566358
    position: relative
    text-transform: uppercase
    transition: all 0.3s
    @include font('sansus')
    &:after
        content: ''
        display: block
        position: absolute
        bottom: -20px
        left: 50%
        background-color: #566358
        margin-left: -45px
        height: 3px
        width: 90px
    //white mod
    &_white
        color: #fff
        &:after
            background-color: #fff
    +breakpoint(650px)
        font-size: 30px

//anchor

.anchor
    font-size: 0
    width: 30px
    height: 30px
    cursor: pointer
    opacity: 0.7
    transition: 1s
    &__link
        display: block
        width: 100%
        height: 100%
        fill: #fff
    &__link-icon
        display: block
        height: 100%
        width: 100%
    &:hover
        opacity: 1
    &_down
        transform: rotate(180deg)
//button
.btn
    text-decoration: none
    border: none
    padding: 15px 0
    cursor: pointer
    opacity: 0.85
    color: #fff
    font-weight: 500
    text-align: center
    transition: all 0.3s
    +breakpoint(900px)
        padding: 12px 0
    +breakpoint(480px)
        padding: 10px 0
    &_border-right
        border-right: 2px solid rgba(222, 227, 231, 0.5)
        &:last-child
            border-right: none
    &_round
        border-radius: 30px
    //green mod
    &_green
        background-color: #6c9c5a
        &:hover
            background-color: #4e8839
    //blue mod
    &_blue
        background-color: #2d4cff
        &:hover
            background-color: #80a0ff
    &_icon_link
        display: block
        padding: 15px 20px 15px 50px

        background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="19.125" height="19.125"><path fill="#FFF" d="M18.13 16.44l-1.724 1.712c-.633.633-1.488.973-2.38.973-.9 0-1.757-.352-2.39-.996L9.222 15.7c-.632-.633-.972-1.488-.972-2.38 0-.925.375-1.804 1.03-2.448l-1.03-1.03c-.645.655-1.512 1.03-2.438 1.03-.89 0-1.758-.352-2.39-.984L.982 7.454C.34 6.81 0 5.964 0 5.064c0-.89.363-1.76.996-2.38L2.72.974C3.35.34 4.206 0 5.097 0 6 0 6.855.352 7.487.996l2.415 2.426c.633.633.973 1.488.973 2.38 0 .925-.375 1.804-1.03 2.448l1.03 1.03c.645-.655 1.512-1.03 2.438-1.03.89 0 1.758.352 2.39.984l2.44 2.438c.644.645.983 1.488.983 2.39 0 .89-.364 1.758-.997 2.38zM8.31 5.005L5.894 2.578c-.21-.21-.504-.328-.797-.328s-.586.117-.797.316l-1.72 1.71c-.21.212-.328.494-.328.787 0 .305.117.586.328.797l2.438 2.438c.21.21.504.315.797.315.34 0 .61-.117.844-.363-.39-.387-.85-.715-.85-1.312 0-.62.504-1.125 1.125-1.125.597 0 .925.457 1.312.844.246-.234.387-.504.387-.855 0-.294-.117-.587-.33-.798zm8.237 8.262L14.11 10.83c-.213-.21-.506-.33-.8-.33-.34 0-.61.13-.843.376.387.387.844.715.844 1.313 0 .62-.5 1.12-1.12 1.12-.6 0-.925-.458-1.312-.845-.246.232-.387.502-.387.853 0 .293.117.586.328.797l2.414 2.428c.21.21.504.316.797.316s.585-.105.796-.305l1.724-1.71c.21-.214.328-.495.328-.788 0-.306-.116-.587-.327-.798z"/></svg>')
        background-repeat: no-repeat
        background-position: 18px 15px
        color: #fff
        text-decoration: none
        box-shadow: 0 1px 2px 1px rgba(#000,.3)
        +breakpoint(900px)
            padding: 12px 20px 12px 50px
            background-position: 18px 12px
    &_link
        display: block
        color: #fff
        text-decoration: none


//button-menu
.btn-menu
    float: right
    color: #000
    font-size: 0
    &:visited
        color: red
    width: 40px
    height: 35px
    position: relative
    z-index: 1000
    cursor: pointer
    &__line
        height: 5px
        border-radius: 5px
        margin-bottom: 10px
        background-color: #fff
        transition: all 0.5s
        &:nth-child(1)
            transform-origin: left bottom
        &:nth-child(3)
            margin-bottom: 0
            transform-origin: left top
        +breakpoint(480px)
            margin-bottom: 7px
            height: 3px
    &_active
        .btn-menu__line
            &:nth-child(1)
                transform: rotate(45deg)
            &:nth-child(2)
                opacity: 0
            &:nth-child(3)
                transform: rotate(-45deg)
    +breakpoint(480px)
        height: 23px
        width: 26px

//form
.form
    &__input-elems
        padding: 10px 20px
        padding-bottom: 35px
    &__cont-input
        position: relative
        background: #fff
        height: 45px
        text-align: left
        border-radius: 20px
        overflow: hidden
        @extend %clearfix
        padding: 0 20px
        &_textarea
            padding-top: 10px
            padding-bottom: 5px
            height: 140px
        &:last-child
            margin: 0
        &_icon
            padding: 0 20px 0 60px
            &::before
                position: absolute
                top: 0
                left: 0
                content: ''
                display: block
                width: 45px
                height: 100%
                background: #f0efe9
                background-repeat: no-repeat
                background-position: 60% 50%
            &_login
                &::before
                    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="14.137" height="15.422"><path fill="#C4CBCD" d="M11.456 15.422H2.68c-1.596 0-2.68-.974-2.68-2.6 0-2.27.532-5.754 3.474-5.754.312 0 1.627 1.396 3.595 1.396s3.28-1.396 3.592-1.396c2.94 0 3.474 3.484 3.474 5.753 0 1.63-1.085 2.604-2.682 2.604zm-4.388-7.71c-2.13 0-3.855-1.728-3.855-3.856S4.94 0 7.068 0s3.855 1.727 3.855 3.855S9.197 7.71 7.068 7.71z"/></svg>')
            &_password
                &::before
                    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="16.897" height="15.984"><path fill="#C4CBCD" d="M15.743 12.078c-.26 0-1.074-.943-1.285-1.154l-.964.964 2.21 2.21c.18.18.28.43.28.682 0 .563-.643 1.205-1.205 1.205-.253 0-.504-.1-.685-.28L7.36 8.965c-1.055.783-2.34 1.315-3.665 1.315C1.505 10.28 0 8.766 0 6.587 0 3.293 3.293 0 6.586 0c2.18 0 3.695 1.506 3.695 3.695 0 1.325-.53 2.61-1.313 3.665l3.564 3.564.965-.964c-.21-.21-1.154-1.024-1.154-1.285 0-.23.925-1.155 1.155-1.155.08 0 .17.04.23.1.372.373 3.173 3.013 3.173 3.304 0 .23-.923 1.154-1.154 1.154zM6.426 1.928c-1.064 0-1.928.863-1.928 1.928 0 .29.07.572.19.833-.26-.123-.542-.193-.833-.193-1.064 0-1.928.863-1.928 1.928s.863 1.928 1.928 1.928 1.928-.864 1.928-1.928c0-.29-.07-.572-.19-.833.26.12.542.19.833.19 1.064 0 1.928-.862 1.928-1.927S7.49 1.928 6.426 1.928z"/></svg>')
    //input-text
    &__input-text
        display: inline-block
        width: 100%
        border: none
        outline: none
        line-height: 45px
        vertical-align: middle
    //input-textarea
    &__input-textarea
        display: inline-block
        width: 100%
        height: 100%
        border: none
        outline: none
        resize: none
    //checkbox
    &__input-checkbox
        display: none
    &__label-checkbox
        display: inline-block
        height: 20px
        vertical-align: middle
        color: rgba(255,255,255,0.8)
        &::before
            margin-right: 10px
            cursor: pointer
            content: ''
            display: inline-block
            vertical-align: text-bottom
            width: 20px
            height: 20px
            background-color: #000
            border-radius: 2px
            background-repeat: no-repeat
            background-position: center
            box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.2)
        //green mod
        &_green
            &::before
                background-color: #6c9c5a

    &__input-checkbox:checked + &__label-checkbox
        &::before
            background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="18.164" height="13.922"><path fill="#fff" d="M17.836 3.516L9.352 12l-1.594 1.594c-.21.21-.504.328-.797.328s-.584-.117-.795-.328L4.57 12 .328 7.758C.118 7.548 0 7.254 0 6.96s.117-.585.328-.796L1.922 4.57c.21-.21.504-.328.797-.328s.584.117.795.328L6.96 8.027l7.69-7.7c.21-.21.502-.327.795-.327s.586.117.797.328l1.594 1.594c.21.21.328.504.328.797s-.117.584-.328.795z"/></svg>')
            background-size: 60% 60%

    //radio
    &__input-radio
        display: none
        //TODO: center bullets
    &__label-radio
        text-align: left
        position: relative
        display: inline-block
        height: 20px
        vertical-align: middle
        color: rgba(255,255,255,0.8)
        &::before
            cursor: pointer
            content: ''
            display: inline-block
            vertical-align: text-bottom
            width: 20px
            height: 20px
            margin-right: 10px
            border-radius: 50%
            background-color: #fff
            box-shadow: inset 0 0 3px 1px rgba(0,0,0,0.4)
        &::after
            position: absolute
            content: ''
            display: none
            border-radius: 50%
            width: 8px
            height: 8px
            top: 7px
            left: 6px
            background-color: #000
            box-shadow: 0 0 2px 1px rgba(0,0,0,0.3)
        //green mod
        &_green
            &::after
                background-color: #6c9c5a

    &__input-radio:checked + .form__label-radio
        color: rgba(108, 156, 90, 0.8)
        &::after
            display: block
//quote
.quote
    margin: 0
    &__text
        margin: 0
        color: #fff
        opacity: 0.3
        line-height: 26px
        font-weight: 300
        font-style: italic
    &__author
        margin: 0
        line-height: 26px
        font-style: italic
        font-weight: 700
        color: #fff
        opacity: 0.5
        &:before
            content: '\2014'
            display: inline-block
            margin-right: 5px

.triangle
    position: absolute
    top: -160px
    left: 0
    height: 160px
    width: 100%
    fill: #f8f9f5
    transition: all 0.5s
    +breakpoint(1400px)
        height: 100px
        top: -100px
    +breakpoint(800px)
        height: 66px
        top: -66px
    +breakpoint(480px)
        height: 28px
        top: -28px


