.social
    &__list
        display: inline-block
        padding: 0
        margin: 0
        list-style: none
    &__list-item
        width: 32px
        height: 32px
        display: inline-block
        vertical-align: bottom
        margin-left: 30px
        &:first-child
            margin-left: 0
    &__link
        width: 100%
        height: 100%
        display: block
        font-size: 0

        &_vk
            height: 32px
        &_github
            height: 32px
        &_in
            height: 28px
    &__icon
        fill: #fff
        width: 100%
        height: 100%