.triangles
    position: absolute
    left: 0
    top: -115px
    @extend %clearfix
    height: 120px
    width: 100%
    fill: #f8f9f5
.left-tr
    height: 100%
    float: left
    width: 50%
.right-tr
    height: 100%
    float: right
    width: 50%
.blog
    position: relative
    background-color: #f8f9f5
    padding-top: 80px
    padding-bottom: 185px
    .container
        position: relative
        @extend %clearfix

    //&__anchor
    //  position: absolute
    //  top: -100px
    //  left: 50%
    //  margin-left: -18px

.blog__sidebar
    padding: 10px
    width: 20%
    float: left
.blog__sidebar-list
        list-style: none
        padding: 0
        margin: 0
.blog__sidebar-item

        text-align: right

.blog__sidebar-link
        max-width: 280px
        color: #455a64
        text-decoration: none
        display: inline-block
        padding: 15px 20px
        &:hover
            color: #4e8839
.blog__sidebar-link_active
        font-weight: 700
        color: #4e8839
        border-right: 3px solid #4e8839

.blog__articles
    width: 75%
    float: right

.blog__articles-list
    list-style: none
    padding: 0
    margin: 0
.blog__articles-item
    padding: 10px
    padding-right: 150px
    margin-bottom: 70px
    &::after
        content: ''
        display: block
        height: 5px
        background: #373e42
        opacity: 0.1
        width: 70%
    &:last-child
        &::after
            display: none
.blog__articles-time
    display: block
    padding: 5px 0
    color: rgba(78, 136, 57, 0.7)
    margin-bottom: 15px
.blog__articles-text
    color: #455a64
    line-height: 26px
    margin: 0
    margin-bottom: 70px