header.header#header
    .container
        .header__top
            .social
                ul.social__list
                    each link in links
                        li.social__list-item
                            a(href='#' class='social-link')= link
                                svg(class="icon-social icon-" + link)
                                    use(xlink:href="img/svg-sprites/sprite.svg#" + link)
            .btn-menu
                .btn-menu__line
                .btn-menu__line
                .btn-menu__line

        .header__author
            .header__author-photo
                img(src='img/man-photo.jpg' class='author-pic')
            .header__author-info
                h1.author-name= author.name
                p.author-site= author.site
        a.down-arrow(href='#works')
            svg(class='icon icon-down-arrow')
                use(xlink:href='img/svg-sprites/sprite.svg#arrow_down')



