header.header.header_portfolio#header
    svg(class='portfolio_bg')
        use(xlink:href="img/svg-sprites/sprite.svg#portfolio_header")
    .header__top
        .container
            .social.header__social
                ul.social__list
                    each link in socialLinks
                        li.social__list-item
                            a(href=link.href class='social__link social__link_'+link.name)= link.name
                                svg(class='social__icon' width="30" height="30")
                                    use(xlink:href="img/svg-sprites/sprite.svg#" + link.name)
            .btn-menu Меню
                .btn-menu__line
                .btn-menu__line
                .btn-menu__line

    .header__author
        .header__author-photo
            img(src='img/man-photo.jpg' class='header__author-pic' alt='photo')
        h1.header__author-name= author.name
        .header__author-text= author.site




