header.header
    .container
        .header__top
            .social
                ul.social__list
                    each link in ['fa-vk','fa-github-alt','fa-linkedin']
                        li.social__list-item
                            a(href='#' class='social-link')
                                i(class='fa ' + link)
            .btn-menu
                .btn-menu__line
                .btn-menu__line
                .btn-menu__line

        .header__author
            .header__author-photo
                img(src='/img/man-photo.jpg' class='author-pic')
            .header__author-info
                h1.author-name Владимир Астахов
                p.author-site Личный сайт разработчика
        div(class='down-arrow')


