@font-face
    font-family: 'roboto-med'
    src: url('../fonts/Roboto-Medium.ttf')
    font-weight: normal
    font-style: normal


@font-face
    font-family: 'roboto-reg'
    src: url('../fonts/Roboto-Regular.ttf')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'roboto-light'
    src: url('../fonts/Roboto-Light.ttf')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'roboto-light-it'
    src: url('../fonts/Roboto-LightItalic.ttf')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'roboto-bold'
    src: url('../fonts/Roboto-Bold.ttf')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'roboto-bold-it'
    src: url('../fonts/Roboto-BoldItalic.ttf')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'roboto-it'
    src: url('../fonts/Roboto-Italic.ttf')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'sans'
    src: url('../fonts/sans.ttf')
    font-weight: normal
    font-style: normal





