$container-width: 1800px


html
  box-sizing: border-box

*, *::after, *::after
  box-sizing: inherit

html,
body
  height: 100%
  width: 100%

body

  font-size: 16px
  line-height: 1.25
  color: #fff






