$footer-height: 185px
$container-width: 1800px


html
    box-sizing: border-box

*, *::after, *::after
    box-sizing: inherit


html,
body
    height: 100%
    width: 100%


body
    background: #fff
    margin: 0
    padding: 0



.wrapper
    min-height: 100%
    margin-bottom: -$footer-height

    //&:after
    //    content: ""
    //    display: block
    //    height: 185px



.container
    max-width: $container-width
    margin: 0 auto
