$footer-height: 185px
$container-width: 1800px


html
    box-sizing: border-box
    font-weight: 400
    font-size: 16px
    @include font('roboto')
    @include breakpoint(770px)
        font-size: 14px

*, *::after, *::after
    box-sizing: inherit


html,
body
    height: 100%
    width: 100%


body
    margin: 0
    padding: 0

.wrapper
    min-height: 100%
    margin-bottom: -$footer-height
    overflow: hidden
    @include breakpoint(1190px)
        margin-bottom: -273px
    @include breakpoint(767px)
        margin-bottom: -346px


.container
    max-width: $container-width
    margin: 0 auto
    @extend %clearfix

