.login-button
    position: absolute
    top: 25px
    right: 100px
    max-width: 180px
    .login-link
        display: block
        padding: 15px 30px
        @include font('roboto-med')
        font-size: 1em
        line-height: 1
        font-weight: 500
        color: #fff
        border-radius: 50px
        border: 1px solid #fff
        text-decoration: none
        &:hover
            background: #4e8839
            border-color: #729e19

.main
    height: 100%
    background: #6c9c5a url('/img/bg-forest-photo.jpg') no-repeat
    background-position: center
    background-size: cover
    text-align: center
    margin-bottom: -60px
    &:before
        content: ''
        display: inline-block
        height: 100%
        vertical-align: middle

.main-window
    display: inline-block
    vertical-align: middle
    text-align: center
    width: 380px
    background: rgba(18, 38, 32, 0.6)
    border-radius: 5px
    overflow: hidden

.window-wellcome
    padding-top: 40px
    &__photo
        margin: 0 auto
        margin-bottom: 15px
        width: 140px
        height: 140px
        border-radius: 50%
        overflow: hidden
        &-pic
            display: block
            max-width: 100%
            height: auto
    &__author
        margin-bottom: 30px
        .author-name
            margin: 0
            margin-bottom: 3px
            font-size: 28px
            font-weight: 500
            opacity: 0.9
            @include font('roboto-med')

        .author-site
            margin: 0
            opacity: 0.8
            @include font('roboto-med')
            font-weight: 400

    &__social
        margin-bottom: 35px
        .icon-social
            fill: #fff
            fill-opacity: 0.6
            &:hover
                fill: #4e8839
                fill-opacity: 1


    &__buttons
        @include clearfix
        &-btn
            float: left
            &:nth-child(1)
                width: 152px
            &:nth-child(2)
                border-left: 2px solid #dee3e7
                border-right: 2px solid #dee3e7
                width: 130px
            &:nth-child(3)
                width: 98px

        .btn-link
            overflow: hidden
            display: block
            padding: 14px
            background: #6c9c5a
            @include font('roboto-med')
            color: #fff
            text-decoration: none
            &:hover
                background: #4e8839
.window__buttons


.window-login
    display: inline-block
    padding-top: 35px
    &__title
        text-transform: uppercase
        font-size: 35px
        margin: 0
        @include font('sans')
        font-weight: 400
        &:after
            content: ''
            display: block
            height: 3px
            width: 90px
            background: #fff
            margin: 25px auto 0
            margin-bottom: 30px

    &__form
        .form__elements
            padding: 0 20px
            &-input
                background: #fff
                margin-bottom: 20px
                position: relative
                height: 45px
                text-align: left
                border-radius: 40px
                overflow: hidden
                @include clearfix
                .form-input__ico
                    display: inline-block
                    text-align: center
                    line-height: 45px
                    width: 45px
                    height: 45px
                    color: #c4cbcd
                    background: #f0efe9
                .form-input
                    display: inline-block
                    vertical-align: middle
                    padding-right: 15px
                    width: 280px
                    border: none
                    outline: none
                    @include font('roboto-reg')
            &-captcha
                .form-checkbox__fake
                    vertical-align: middle
                    //font-size: 16px
                    //line-height: 16px
input[type=checkbox]
    display: none
input[type=checkbox] + label:before
    font-family: FontAwesome
    display: inline-block
input[type=checkbox] + label:before
    display: inline-block
    color: #fff
    width: 20px
    height: 20px
    border-radius: 3px
    background: green
    margin-right: 10px
    content: " "

input[type=checkbox]:checked + label:before
    display: inline-block
    content: "\f00c"







