-
    var content = [
    {title:'Cамое важное в SASS',
    active:' blog__sidebar-item_active',
    datetime:'2016-11-22',
    date:'22 ноября 2016',
    text:['Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.',' Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.',' Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. ','С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.']},
    {title:'Приёмы в вёрстке, без которых не обходится ни один сайт',
    active:'',
    datetime:'2016-11-13',
    date:'13 ноября 2016',
    text:['Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.',' Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.',' Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. ','С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.']
    },
    {title:'Самый необходимый набор Gulp плагинов',
    active:'',
    datetime:'2016-11-13',
    date:'13 ноября 2016',
    text:['Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.',' Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.',' Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. ','С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.']
    },
    {title:'Почему я выбрал Jade',
    active:'',
    datetime:'2016-11-13',
    date:'13 ноября 2016',
    text:['Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.',' Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.',' Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. ','С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.']}
    ]
main.blog#blog
    svg.triangle(viewBox="0 0 1000 82" preserveAspectRatio="none")
        polygon.triangle__left(points="0,0 0,85 500.5,85 500.5,80")
        polygon.triangle__right(points="500,80 1000,0 1000,85 500,85")
    .anchor.works__anchor
        a.anchor__link(href='#blog')
            svg(class='anchor__icon' width="30" height="30")
                use(xlink:href='img/svg-sprites/sprite.svg#arrow_down')
    .container
        aside.blog__sidebar
            a.blog__sidebar-toggler(href='#')
            ul.blog__sidebar-list
                each item in content
                    li(class='blog__sidebar-item '+item.active)
                        a(href='#' class='blog__sidebar-link')= item.title
        section.blog__articles-container
            each item in content
                article(class='article blog__article')
                    h3.article__title=item.title
                    time.article__date(datetime=item.datetime)=item.date
                    each text in item.text
                        p.article__text=text
    include ../../elements/_modal-window
