-
    var content = [
    {title:'Cамое важное в SASS',
    active:' blog__sidebar-link_active',
    date:'22 ноября 2016',
    text:'Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.'},
    {title:'Приёмы в вёрстке, без которых не обходится ни один сайт',
    active:'',
    date:'13 ноября 2016',
    text:'Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.'},
    {title:'Самый необходимый набор Gulp плагинов',
    active:'',
    date:'13 ноября 2016',
    text:'text'
    },
    {title:'Почему я выбрал Jade',
    active:'',
    date:'13 ноября 2016',
    text:'text'
    }
    ]
main.blog
    .triangles
        svg.left-tr(viewBox="0 0 100 55" preserveAspectRatio="none")
            polygon(points="0,0 100,50 100,55 0,55")
        svg.right-tr(viewBox="0 0 100 55" preserveAspectRatio="none")
            polygon(points="0,50 100,0 100,55 0,55")
    .container
        aside.blog__sidebar
            ul(class='blog__sidebar-list')
                each item in content
                    li(class='blog__sidebar-item')
                        a(href='#' class='blog__sidebar-link'+item.active)= item.title
        section.blog__articles
            each item in content
                article(class='blog__articles-item')
                    h3.blog-title=item.title
                    time.blog__articles-time=item.date
                    p.blog__articles-text=item.text
