-
    var content = [
    {title:'Cамое важное в SASS',
    date:'22 ноября 2016',
    text:'Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.'},
    {title:'Приёмы в вёрстке, без которых не обходится ни один сайт',
    date:'13 ноября 2016',
    text:'Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.'},
    {title:'Самый необходимый набор Gulp плагинов',
    date:'13 ноября 2016',
    text:'text'
    },
    {title:'Почему я выбрал Jade',
    date:'13 ноября 2016',
    text:'text'
    }
    ]
section.main
    .container
        aside.main__sidebar
            ul(class='sidebar__list')
                each item in content
                    li(class='sidebar__list-item')=item.title
        .main__content
            ul.content__list
                each item in content
                    li(class='content__list-item')
                        h3.content__list-title=item.title
                        p.content__published=item.date
                        p.content__text=item.text
