
.whatabout
    padding-top: 70px
    position: relative
    //TODO: make sprite
    background-color: #f4f5f0
    background-image: url('../img/list1.png'), url('../img/list2.png'), url('../img/list3.png')
    background-position: 25% 40%, 10% 10%, 90% 40%
    background-repeat: no-repeat, no-repeat, no-repeat
    background-size: auto, auto, auto
    .container
        position: relative
        text-align: center
        //padding-bottom: 185px
    &__bg
        position: absolute
        top: 0
        right: 0
        left: 0
        margin: auto
        fill: green
        fill-opacity: 0.12
        height: 100px
        transform: scale(1.5)
        +breakpoint(480px)
            height: 70px
    &__main-title
        max-width: 500px
        margin: 0 auto 70px
        +breakpoint(800px)
            max-width: 400px
        +breakpoint(480px)
            max-width: 300px
    &__list
        max-width: 800px
        font-size: 0
        list-style: none
        margin: 0 auto
        padding: 0
    &__list-item
        display: inline-block
        vertical-align: top
        font-size: 16px
        width: 50%
        padding: 5px 8px
        margin-bottom: 70px
        //TODO: make sprite
        background: url('../img/quote.png') no-repeat 0 80px
        +breakpoint(550px)
            width: 100%
    &__photo
        border-radius: 50%
        overflow: hidden
        width: 77px
        height: 77px
        margin: 0 auto
        background: #009688
        margin-bottom: 20px
    &__pic
        display: inline-block
        color: #fff
        font-size: 14px
        border: none
        line-height: 25px
        max-width: 100%
    &__content
        margin: 0
        font-style: italic
        color: #5d5a55
        line-height: 26px
        margin-bottom: 25px
    &__name
        display: block
        margin: 0
        text-align: center
        margin-bottom: 5px
        color: #4e8839
        font-weight: 700
        font-style: italic
    &__job
        text-align: center
        display: block
        font-style: italic
        &:before
            display: inline
            margin-right: 5px
            content: '\2014'

    &__anchor
        position: absolute
        left: 50%
        margin-left: -18px
        bottom: -110px
        &:hover
            margin-bottom: 10px
        +breakpoint(1190px)
            bottom: -80px
    &__feedback
        background-image: url('../img/whatabout-bg.png')
        background-repeat: no-repeat
        background-size: cover
        text-align: center
        min-height: 100vh
        padding-bottom: 350px
        +breakpoint(1190px)
            padding-bottom: 400px
        +breakpoint(767px)
            padding-bottom: 450px
        .container
            height: 75vh
            &::before
                content: ''
                display: inline-block
                height: 100%
                vertical-align: middle

.feedback-window
    width: 380px
    display: inline-block
    vertical-align: middle
    background: rgba(218, 219, 214, 0.6)
    padding-top: 32px
    //margin-bottom: 185px
    transition: all 0.2s
    +breakpoint(800px)
        width: 350px
    +breakpoint(480px)
        width: 300px
    &__main-subtitle
        margin-bottom: 45px

.feedback-form
    &__elems
        padding-bottom: 0
        margin-bottom: 18px
    &__cont-input
        margin-bottom: 20px
    &__input-text
        width: 100%
        padding: 0 20px
    &__btn-elems
        @extend %clearfix
    &__btn
        float: left
        width: 50%



