.works
    position: relative
    text-align: center
    background: #f8f9f5
    .container
        @extend %clearfix
    &__anchor
        position: absolute
        left: 50%
        margin-left: -18px
        top: -120px
        &:hover
            margin-top: 10px
    &__main-title
        position: relative
        padding: 50px 0
        background-color: #f8f9f5
        &::after
            bottom: 20px
    &__bg
        position: absolute
        left: 0
        top: -10%
        right: 0
        margin: auto
        height: 100%
        width: 400px
        fill: green
        fill-opacity: 0.12
    &__slider
        @extend %clearfix

.slider
    background: linear-gradient(to right, #ebefe2 0%, #ebefe2 50%, #e1e4d7 50%, #e1e4d7 100%)
    height: 100vh
    .container
        height: 100%
    &__leftside
        height: 100%
        float: left
        width: 50%
        //background-color: #ebefe2
        padding: 15px 0
        &:before
            height: 100%
            content: ''
            display: inline-block
            vertical-align: middle
    &__slide-info
        text-align: center
        display: inline-block
        vertical-align: middle
    &__main-subtitle
        margin-bottom: 60px
        max-width: 500px

    &__tech
        color: #4e8839
        text-transform: uppercase
        font-weight: 500
        margin-bottom: 60px
    &__link
        display: inline-block

    &__rightside
        position: relative
        float: left
        height: 100%
        //background-color: #e1e4d7
        width: 50%

    &__nav
        position: absolute
        z-index: 50
        border: none
        width: 50px
        height: 50px
        top: 50%
        left: 50%
        margin-top: -25px
        margin-left: -25px
        cursor: pointer
        transition: all 1s
        &_next
            &:hover
                top: 40%
        &_prev
            transform: rotate(180deg)
            &:hover
                top: 60%

    &__nav-icon
        width: 100%
        height: 100%
        fill: #fff
        &:hover
            fill: #6c9c5a

    &__view
        height: 75%
        padding: 20px
        background-color: #e1e4d7
        &::before
            content: ''
            display: inline-block
            height: 100%
            vertical-align: middle
    &__view-pic
        margin: 0 auto
        display: inline-block
        vertical-align: middle
        border: none
        max-width: 100%
        max-height: 100%
    &__preview
        position: relative
        margin: 0
        padding: 0
        list-style: none
        height: 25%
        float: left
        width: 50%
        overflow: hidden

    &__preview-item
        display: block
        height: 100%
        position: relative
        border: 1px solid #d0d0d0
        &:after
            content: ''
            display: block
            opacity: 0.7
            background: #beb8ab
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
    &__preview-pic
        margin: 0 auto
        display: block
        max-width: 100%
        max-height: 100%
        border: none







