
.whatabout
    .container
        position: relative
        background-image: url('../img/list1.png'),url('../img/list2.png'),url('../img/list3.png'),url('../img/bg-about.jpg')
        background-position: 25% 40%, 10% 10%, 90% 40%, bottom center
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat
        background-size: auto, auto, auto, cover
        text-align: center
        padding-bottom: 185px
    &__main-title
        background: url('../img/svg/about_header.svg') no-repeat 50% 50%
    &__list
        max-width: 800px
        font-size: 0
        list-style: none
        margin: 0 auto
        padding: 0
    &__list-item
        font-size: 16px
        display: inline-block
        vertical-align: top
        width: 50%
        padding: 5px 8px
        margin-bottom: 70px
        background: url('../img/quote.png') no-repeat 0 40%
    &__photo
        border-radius: 50%
        overflow: hidden
        width: 77px
        height: 77px
        margin: 0 auto
        background: #009688
        margin-bottom: 20px
    &__pic
        display: inline-block
        color: #fff
        font-size: 14px
        border: none
        line-height: 25px
        max-width: 100%
    &__content
        margin: 0
        @include font('roboto-it')
        color: #5d5a55
        line-height: 26px
        margin-bottom: 25px
    &__name
        display: block
        margin: 0
        text-align: center
        margin-bottom: 5px
        color: #4e8839
        font-weight: 700
        @include font('roboto-bold-it')
    &__job
        text-align: center
        display: block
        @include font('roboto-it')
        &:before
            display: inline
            margin-right: 5px
            content: '\2014'

    &__anchor
        position: absolute
        left: 50%
        margin-left: -18px
        bottom: 250px



.feedback-window
    background: rgba(218, 219, 214, 0.6)
    margin-bottom: 155px
    padding-top: 32px
    &__main-subtitle
        margin-bottom: 45px

.feedback-form
    &__elems
        padding-bottom: 0
        margin-bottom: 18px
    &__cont-input
        margin-bottom: 20px
        &_textarea
            height: 140px
    &__btn-elems
        @extend %clearfix
    &__btn
        float: left
        width: 50%



