-
    var aboutItems = [
    {pic:'href',
    text:'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!',
    name:'Ковальчук Дмитрий',
    job:'основатель Loftschool'
    },
    {pic:'href',
    text:'Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
    name:'Зар Захаров',
    job:'преподаватель'
    }
    ];



section.about
    .container
        h2.about__title Что обо мне говорят
        ul.about__list
            each item in aboutItems
                li.about__list-item
                    .about__list-photo
                        img(src=item.pic class='about-pic')
                    p.about__list-content=item.text
                    .about__list-name=item.name
                    .about__list-job=item.job
        .feedback__container
            h2.feedback-title Связаться со мной
            form(action='' class='feedback__form')
                .feedback__form-input
                    input(type='text' id='feedback-name' name='name')
                .feedback__form-input
                    input(type='text' id='feedback-email' name='email')
                .feedback__form-input
                    textarea(id='feedback-message' name='message')
                .feedback__form-btns
                    button(type='submit' class='form-button button-green') Отправить
                    button(type='reset' class='form-button button-green') Очистить

