section.works
    .container
        .anchor.works__anchor
            a.anchor__link(href='#works')
                svg(class='anchor__icon' width="30" height="30")
                    use(xlink:href='img/svg-sprites/sprite.svg#arrow_down')
        h2.main-title.works__main-title#works Мои работы
        .slider.works__slider
            .slider__leftside
                .slider__slide-info
                    h3.main-subtitle.slider__main-subtitle Сайт школы онлайн образования
                    .slider__tech html, css, javascript
                    .btn.btn_green.btn_icon_link.btn_round.btn_link.slider__link
                        a(href='#' class='btn__link') Посмотреть сайт

            .slider__rightside
                .slider__nav.slider__nav_next
                    svg.slider__nav-icon
                        use(xlink:href='img/svg-sprites/sprite.svg#portf_arrow_up')
                .slider__nav.slider__nav_prev
                    svg.slider__nav-icon
                        use(xlink:href='img/svg-sprites/sprite.svg#portf_arrow_up')
                .slider__view
                    img(src='img/project-pic-2.jpg' class='slider__view-pic' alt='big-slide')
                ul.slider__preview.slider__preview_one
                    li.slider__preview-item
                        img(src='img/project-pic-1.jpg' class='slider__preview-pic')
                    li.slider__preview-item
                        img(src='img/project-pic-3.jpg' class='slider__preview-pic')
                ul.slider__preview.slider__preview_two
                    li.slider__preview-item
                        img(src='img/project-pic-3.jpg' class='slider__preview-pic')
                    li.slider__preview-item
                        img(src='img/project-pic-1.jpg' class='slider__preview-pic')

