section.portfolio
    .container
        h2.portfolio-title Мои работы
        .portfolio-content
            .slider
                .slider-left
                    h3.slider-title Сайт школы онлайн образования
                    p.slider-tech html, css, javascript
                    .btn-slider
                        a(href='#' class='slider-link') Посмотреть сайт

                .slider-right
                    ul.slider-right__view
                        li.slider-right__item
                            img(src='sda' class='project-pic')
                    ul.slider-right__preview
                        li.slider-preview
                            img(src='sad' class='slider-pic')
                        li.slider-preview
                            img(src='sad' class='slider-pic')

