section.works#works
    .container
        h2.main-title Мои работы
        .works__slider
            .works__slider-leftside
                .slider-text
                    h3.main-subtitle Сайт школы онлайн образования
                    p.slider-tech html, css, javascript
                    a(href='#' class='slider-link') Посмотреть сайт

            .works__slider-rightside
                button.slider__btn.next
                    svg
                        use(xlink:href='/img/svg-sprites/sprite.svg#portf_arrow_up')
                button.slider__btn.prev
                    svg
                        use(xlink:href='/img/svg-sprites/sprite.svg#portf_arrow_down')
                ul.slider__view
                    li.slider__view__item
                        img(src='/img/project-pic-2.jpg' class='slider__view__pic')
                ul.slider__preview.one
                    li.slider__preview-item
                        img(src='/img/project-pic-1.jpg' class='slider__preview-pic')
                    li.slider__preview-item
                        img(src='/img/project-pic-3.jpg' class='slider__preview-pic')
                ul.slider__preview.two
                    li.slider__preview-item
                        img(src='/img/project-pic-3.jpg' class='slider__preview-pic')
                    li.slider__preview-item
                        img(src='/img/project-pic-1.jpg' class='slider__preview-pic')

