.header
    position: relative
    background-image: url('/img/svg/bg.svg'), url('/img/bg-forest-photo.jpg')
    background-position: bottom, center
    background-repeat: no-repeat, no-repeat
    background-size: 101%,cover
    height: 790px
    margin-bottom: -112px

    .header__top
        padding: 28px 30px 28px 30px
        margin-bottom: 72px
        @include clearfix
        .social
            .social-link
                opacity: 1
                &:hover
                    color: #59943a
    .header__author

        background: url('/img/svg/portfolio_header.svg')
        background-position: 50% 30%
        background-repeat: no-repeat
        background-size: 70%

        &-photo
            width: 141px
            height: 141px
            margin: 0 auto
            margin-bottom: 30px
            border-radius: 50%
            overflow: hidden
            .author-pic
                max-width: 141px
                height: auto
        &-info
            color: #fff
            text-align: center
            .author-name
                margin: 0
                margin-bottom: 7px
                font-size: 35px
                font-weight: 500
                @include font('roboto-med')
            .author-site
                margin: 0
                font-weight: 400
                font-size: 16px
                @include font('roboto-reg')



.btn-menu
    position: absolute
    top: 28px
    right: 30px
    width: 40px
    height: 35px
    z-index: 1000
    cursor: pointer
    .btn-menu__line
        height: 5px
        border-radius: 5px
        margin-bottom: 10px
        background-color: #fff
        &:nth-child(3)
            margin-bottom: 0

.down-arrow
    position: absolute
    left: 49%
    bottom: 256px
    width: 26px
    height: 16px
    cursor: pointer
    svg
        width: 100%
        height: 100%
        opacity: 0.7
        fill: #fff



