.portfolio_bg,.blog_bg
    position: absolute
    top: 10%
    left: 0
    right: 0
    bottom: 0
    margin: auto
    width: 80%
    height: 80%
    fill: #fff
    fill-opacity: 0.12
    +breakpoint(480px)
        display: none
.blog_bg
    top: 20%
    margin: auto
    height: 50%
    fill: #fff
    fill-opacity: 0.12

.header
    background-image: url('../img/bg-forest-photo.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    position: relative
    height: 100vh
    text-align: center
    &::before
        content: ''
        display: inline-block
        height: 100%
        vertical-align: middle
    &__top
        width: 100%
        position: absolute
        top: 0
        left: 0
        padding: 30px
        @extend %clearfix
        +breakpoint(480px)
            padding: 10px 10px
    &__social
        float: left
        .social__list-item
            transition: all 0.2s
            height: 22px
            width: 26px
            +breakpoint(480px)
                height: 17px
                width: 24px
        .social__link
            .social__icon
                fill: #fff
            &:hover
                .social__icon
                    fill: #59943a

    &__author
        position: relative
        display: inline-block
        vertical-align: middle
        color: #fff
        text-align: center

    &__author-photo
        width: 141px
        height: 141px
        margin: 0 auto
        margin-bottom: 20px
        border-radius: 50%
        overflow: hidden
    &__author-pic
        max-width: 141px
        height: auto

    &__author-name
        margin: 0
        margin-bottom: 7px
        font-size: 35px
        font-weight: 500
        transition: all 0.3s
        +breakpoint(480px)
            font-size: 21px
    &__author-text
        font-weight: 400
        transition: all 0.3s

    .header__author-photo
        margin-bottom: 20px

    .main-title
        padding-bottom: 50px
        &::after
            bottom: 26px

.blog__subtitle
    display: block
    padding-bottom: 20px











