-
    var aboutMeInfo = ['Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.',
    'Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!',]
-
    var skillText='Больше всего меня привлекает Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.'

-
    var skills = [
    {title:'Frontend',
    list:['HTML5','CSS3','JavaScript & jQuery']
    },
    {title:'Backend',
    list:['PHP','mySQL','Node.js & npm','Mongo.db']
    },
    {title:'WorkFlow',
    list:['Git','Gulp','Bower']
    }
    ]


section.about-me
    .container
        .about-me__left
            .about-me__title
                h2.main-title Обо мне
            .about-me__info
                .about-me__info-photo
                    img(src='/img/man-photo.jpg' class='about-me-pic')
                .about-me__info-content
                    h3.main-subtitle Кто я
                    each item in aboutMeInfo
                        p.about-me__text=item
        .about-me__right
            h3.main-subtitle Чем я могу быть вам полезен
            p.about-me__text= skillText
            .skill
                each skill in skills
                    .skill__block
                        span.skill__title= skill.title
                        ul.skill__list
                            each list in skill.list
                                li.skill__list-item
                                    span(class='skill-item__name')= list
                                    .skill-progress


