section.contact
    button.contact__toggler Скрыть контакты
    .window.contact__menu
        h3.main-subtitle.contact__main-subtitle Контакты
        ul.contact__list
            each contact in contacts
                li(class='contact__list-item')
                    a(href=contact.href class='contact__link' + ' contact__link_' + contact.name)= contact.text
                        svg(class='contact__link-icon' width="25" height="25")
                            use(xlink:href="img/svg-sprites/sprite.svg#"+contact.icon)
    .contact__map#map