-
    var aboutMeInfo = ['Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.',
    'Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!',]
-
    var skillText='Больше всего меня привлекает Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.'

-
    var skills = [
    {title:'Frontend',
    list:['HTML5','CSS3','JavaScript & jQuery']
    },
    {title:'Backend',
    list:['PHP','mySQL','Node.js & npm','Mongo.db']
    },
    {title:'WorkFlow',
    list:['Git','Gulp','Bower']
    }
    ]


section.about-me
    .triangles
        svg.left-tr(viewBox="0 0 100 55" preserveAspectRatio="none")
            polygon(points="0,0 100,50 100,55 0,55")
        svg.right-tr(viewBox="0 0 100 55" preserveAspectRatio="none")
            polygon(points="0,50 100,0 100,55 0,55")
    .container
        .anchor.works__anchor
            a.anchor__link(href='#aboutme')
                svg(class='anchor__icon' width="30" height="30")
                    use(xlink:href='img/svg-sprites/sprite.svg#arrow_down')
        .about-me__left
            svg(class='about-me__bg')
                use(xlink:href='img/svg-sprites/sprite.svg#about_header')
            h2.main-title.about-me__main-title#aboutme Обо мне
            .about-me__info
                .about-me__photo
                    img(src='img/man-photo.jpg' class='about-me__pic')
                .about-me__info-content
                    h3.main-subtitle.about-me__main-subtitle-left Кто я
                    each item in aboutMeInfo
                        p.about-me__text=item
        .about-me__right
            h3.main-subtitle.about-me__main-subtitle-right Чем я могу быть вам полезен
            p.about-me__text.about-me__text-right= skillText
            .about-me__skill
                each skill in skills
                    .skill
                        span.skill__title= skill.title
                        ul.skill__list
                            each list in skill.list
                                li.skill__list-item
                                    span(class='skill__name')= list
                                    .skill-progress


