-
    var contacts = [
    {name:'skype',
    text:'vetaloptimus',
    href:'skype:vetaloptimus'},
    {name:'email',
    text:'vetalpro.exe@gmail.com',
    href:'mailto:vetalpro.exe@gmail.com'},
    {name:'phone',
    text:'+7 931 200 93 24',
    href:'tel:+79312009324'},
    {name:'adress',
    text:'Новосибирск, ул. Инская, д.14',
    href:'#'}
    ]

section.contacts
    .container
        .contacts__map
            .contacts__menu
                h3.contacts__title Контакты
                ul.contacts__list
                    each contact in contacts
                        li(class='contacts__list-item')
                            a(href=contact.href class='contact-link' + ' contact-' + contact.name)= contact.text
