-
    var contacts = [
    {name:'skype',
    text:'vetaloptimus',
    href:'skype:vetaloptimus'},
    {name:'email',
    text:'vetalpro.exe@gmail.com',
    href:'mailto:vetalpro.exe@gmail.com'},
    {name:'phone',
    text:'+7 931 200 93 24',
    href:'tel:+79312009324'},
    {name:'adress',
    text:'Новосибирск, ул. Инская, д.14',
    href:'#'}
    ]

section.contact
    .contact__map#map
    button.contact__toggler Скрыть контакты
    .window.contact__menu
        h3.main-subtitle.contact__main-subtitle Контакты
        ul.contact__list
            each contact in contacts
                li(class='contact__list-item')
                    a(href=contact.href class='contact__link' + ' contact__link_' + contact.name)= contact.text
